@charset "utf-8";
fieldset{border:0 none;margin:0;padding:0}
.inblo{display:inline-block;*display:inline;*zoom:1;/*兼容ie7*/}
.lh1{line-height:100%}
.lh2{line-height:125%}
.lh3{line-height:150%}
.lh4{line-height:175%}
.lh5{line-height:200%}
.fullwidth{width:100%}
.halfwidth{width:50%}
.thirdwidth{width:33.3%}
.thirdwidth-t{width:32.9%}
.left {left:0}
.right {right:0}
.top {top:0}
.bottom {bottom:0}
.fullwidth{width:100%}
.tl{text-align:left !important}
.tr{text-align:right !important}
.vb{vertical-align:bottom}
.vt{vertical-align:top}
.ti{text-indent:2em}
.tdu{text-decoration:underline}
.hand{cursor:pointer}
.zx1{z-index:1}
.zx2{z-index:2}
.fs28{font-size:28px}
.fs32{font-size:32px}
.typo-white, a.typo-white{color:#fff !important}
.typo-29blue, a.typo-29blue{color:#291783}
.typo-02blue, a.typo-02blue{color:#024cc7}
.typo-3gray, a.typo-3gray{color:#333}
.typo-cgray, a.typo-cgray{color:#ccc}
.typo-49gray, a.typo-49gray{color:#494949}
.typo-8gray, a.typo-8gray{color:#888}
.typo-8fgray, a.typo-8fgray{color:#8f8f8f}
.typo-03green, a.typo-03green{color:#03cb55}
.bg-02blue{background-color:#024cc7}
.bg-00green{background-color:#00b249}
.bg-03green{background-color:#03cb55}
.bg-white{background-color:#fff}
.bg-37gray{background-color:#37383c}
.bg-f3gray{background-color:#f3f8ff}
.bg-transparent-4gray{background-color:#000;background:rgba(0,0,0,0.4);filter:alpha(opacity=40)}
.bg-transparent-5gray{background-color:#000;background:rgba(0,0,0,0.5);filter:alpha(opacity=50)}
.opacity3{opacity:0.3;filter:alpha(opacity=30)}
.opacity1{opacity:0.1;filter:alpha(opacity=10)}
.ml35{margin-left:35px}
.mb3-m{margin-bottom:-3px}
.bor-b-1edgray{border-bottom:1px solid #edf3fa}
.bor-b-dbdgray{border-bottom:1px solid #dbdbdb}


/*布局类*/
.layout{width:1440px;margin:0 auto}

/*图标类*/

/*按钮*/

/*分割线*/

/*表单样式*/

/*公共头部*/

/*导航*/

/*表格*/

/*收件箱*/

/*文章段落*/

/*支付方式卡片*/

/*分页组件*/

/*layer弹出层样式*/

/*滚动条自定义样式*/